{% extends 'base_admin.html' %}





{% block content %}


    <body>
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-8">
                <h1 class="text-center"> Añadir Vehiculos </h1>
                <div class="card">
                    <div class="card-body">
                        <form action={% url "vehiculos_add" %} method="POST" enctype="multipart/form-data">
                            
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" name="id_vehiculo" class="form-control" placeholder="ID del Vehículo">
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="text" name="patente" class="form-control" placeholder="Patente">
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="text" name="marca" class="form-control" placeholder="Marca">
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="text" name="modelo" class="form-control" placeholder="Modelo">
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="text" name="anio" class="form-control" placeholder="Año">
                            </div>
                            <br>
                            <div class="form-group">
                                <button type="submit" name="opcion" value="Agregar" class="button-1"> Guardar </button>
                            </div>
                            <br>
                        </form>
                        
                            
        
                        <div class= "form-group">
                            <a href = "{% url 'crud_vehiculos_listar' %}" class="button-2"> Listar </a>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-8">
                            {{mensaje}}
                        </div>
                        <br>
                        <a href = "{% url 'home_admin' %}" class="button-2"> Volver a Home </a>
                </div>
            </div>
        
        
        </div>






    </body>


{% endblock %}
</html>