{% extends 'base_admin.html' %}





{% block content %}


  <body>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1 class="text-center">Reservar Vehiculo Peugeot</h1>
        <br />
        <div class="card">
          <div class="card-body">
            <div class="form-group">
              <hr size="4" />
              <p><b>Marca: Peugeot </b></p>
              <p><b>Modelo: Partner</b></p>
              <p><b>Año: 2020 </b></p>
              <p><b>Patente: LYFV-66 </b></p>
              <hr size="4" />
            </div>

            <form action={% url "reserva_inicial2_Add" %} method="POST"
            enctype="multipart/form-data"> {% csrf_token %}
            <div class="form-group">
              <p><b>Motivo del desplazamiento</b></p>
              <input type="text" name="motivo2" class="form-control" />
            </div>
            <br />
            <div class="form-group">
              <p><b>Dirección del desplazamiento</b></p>
              <input type="text" name="direccion2" class="form-control" />
            </div>
            <br />
            <div class="form-group">
              <p><b>Foto del tacómetro inicial del vehículo</b></p>
              <input
                type="file"
                name="foto_tacometro2"
                class="form-control"
                placeholder="Foto del Tacómetro del vehículo"
              />
            </div>

            <br />
            <hr size="4" />
            <br />
            <br />
            <button
              type="submit"
              name="opcion"
              value="agregar_inicial2"
              class="button-2"
              href="{% url 'reserva_inicial2_Add' %}"
            >
              Enviar
            </button>
            <br />
            <br />
          </form>
            
            <br />
            <br /><button class="button-1" href="{% url 'home_admin' %}">
              Volver a Home
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>


{% endblock %}
</html>
